@model Tiles.Models.Data.Post

@{
    ViewBag.Title = "Create post";
    Layout = "_LayoutHome";
}

<div class="container bg-fill">
    <h1>Create post</h1>

    @Html.Partial("_PostForm", Model, Html.vd(new { action = "Create" }));
</div>