@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<Tiles.Models.Data.Post>
@{
    ViewData["Title"] = "Posts";
    Layout = "_LayoutHome";
}

<div class="container">
    
    <h1 class="txt-color-white">Posts</h1>

    <div class="tiles">
        @foreach (var post in Model)
        {
            <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id">
                <div class="tile bg-fill">
                    <h4>@post.Title</h4>
                    <strong>@post.ShortDescription</strong>

                    <i>@post.PublishDate</i>
                </div>
            </a>
        }
    </div>

    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
    {
        <a asp-controller="Post" asp-action="Create" class="txt-color-white">Create new post</a>
    }
</div>
