@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<Tiles.Models.Data.Post>
@{
    ViewData["Title"] = "Posts";
    Layout = "_LayoutHome";
}

<h2>Posts</h2>

<div class="container">
    <div class="tiles">
        <div class="tile-row">
            
            @foreach (var post in Model)
            {
                <div class="tile">
                    <h4>@Html.ActionLink($"{post.Title}", "Details", new { id = post.Id })</h4>
                    <strong>@post.ShortDescription</strong>
                    <br/>
                    <i>@post.PublishDate</i>
                </div>
            }
        </div>
    </div>
    </div>

@if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create", "Create")
}