@inject YandexMetricaCounterId YandexCounter

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @RenderBody()
    
    <canvas id="demo-canvas" style="position:absolute; top:0; left:0; z-index:-1;"></canvas>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    
    @if (YandexCounter.CounterId != Int32.MaxValue)
        {@Html.Partial("~/Views/Shared/_YandexMetric.cshtml", YandexCounter)}
    
    
    <script src="~/js/TweenLite.min.js"></script>
    <script src="~/js/EasePack.min.js"></script>
    <script src="~/js/circles.js"></script>

         </body>
</html>
