@model Tiles.Models.Data.Tile

@{
    ViewBag.Title = "Create tile";
    Layout = "_LayoutHome";
}

<div class="container bg-fill">
    <h1>Create new tile</h1>

    @Html.Partial("_TileForm", Model, Html.vd(new { action = "Create" }));
</div>