@model Tiles.Models.Data.Tile

@{
    ViewBag.Title = "Edit tile";
    Layout = "_LayoutHome";
}

<div class="container bg-fill">
    <h1>Edit tile - @Model.Id</h1>

    @Html.Partial("_TileForm", Model, Html.vd(new { action = "Edit" }));
</div>